<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kogitune.wearhttp" >
    <uses-permission android:name="android.permission.INTERNET" />

    <application >
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <service android:name=".WearHttpListenerService" android:process=":remote" android:exported="true">
        </service>
        <receiver
            android:name=".WearListenerReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="WearListenerReceiver" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
